.Shell {
  &__row {
    &-inner {
      width: 1170px;
      display: flex;
      margin: 0 auto;
    }
  }

  &__column {
    flex: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

app-party {
  flex: 0 0 50%;
}

input[disabled] {
  cursor: not-allowed;
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}
