<div class="Shell__row section section--story">

  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2>Our Story</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis esse magnam odio possimus reiciendis
        tempora vero! Ad, amet architecto consequatur culpa, eveniet id laudantium magnam minus nam nisi odit.</p>
      <p>Asperiores dignissimos earum eius fuga minus quo quos recusandae sapiente sit veniam? Accusamus alias amet
        assumenda, autem exercitationem harum impedit laborum libero molestias natus nihil placeat quas ratione sunt
        voluptatum!</p>
      <p>Eos fugit illo incidunt minima nulla numquam odio pariatur quidem sunt veniam. A amet asperiores doloremque,
        eos est laborum obcaecati quibusdam reiciendis sequi vel. Beatae consequatur distinctio odit optio
        veritatis?</p>
    </div>
  </div>
</div>

<div class="Shell__row section section--bride-groom">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2>The Bride</h2>
      <h4>{{ bride.firstName }} {{ bride.lastName }}</h4>

      <p [innerHTML]="bride.description"></p>
    </div>
    <div class="Shell__column">
      <h2>The Groom</h2>
      <h4>{{ groom.firstName }} {{ groom.lastName }}</h4>

      <p [innerHTML]="groom.description"></p>
    </div>
  </div>

</div>

<div class="Shell__row section">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <div class="row">
        <app-party
          *ngFor="let bridesmaid of bridesmaids"
          [party]="bridesmaid"
        ></app-party>
      </div>
    </div>
    <div class="Shell__column">
      <div class="row">
        <app-party
          *ngFor="let groomsmen of groomsmens"
          [party]="groomsmen"
        ></app-party>
      </div>
    </div>
  </div>
</div>

<div class="Shell__row section section__home--ceremony text-center">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2 class="section--title">Ceremony</h2>
      <h2>September 20, 2019 from 12pm-1pm</h2>
      <h3>Bell Isle Conservancy</h3>
      <p>123 Somewhere Rd.,
      Somewhere, MI 49586</p>
    </div>
  </div>
</div>

<div class="Shell__row section section__gallery section--no-padding">
  <div class="Shell__column image--grid">
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>

    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
    <div class="image--item">
      <img src="assets/images/grid.jpg" />
    </div>
  </div>
  <div class="image--modal">
    <img src="assets/images/grid.jpg" />
  </div>
</div>

<div class="Shell__row section section__reception text-center">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2 class="section--title">Reception</h2>
      <h2>September 20, 2019 from 12pm-1pm</h2>
      <h3>Bell Isle Conservancy</h3>
      <p>123 Somewhere Rd.,
        Somewhere, MI 49586</p>
    </div>
  </div>
</div>

<div class="Shell__row section section--rsvp text-center">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2 class="section--title">RSVP</h2>
      <p>Already invited? Let us know you can make it!</p>
      <button type="button" class="btn btn__primary">RSVP</button>
    </div>
  </div>
</div>

<div class="Shell__row section section--music text-center">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2 class="section--title">Ready to rock?!</h2>
      <p>Put in a song request for the special night!</p>
      <button type="button" class="btn btn__primary">RSVP</button>
    </div>
  </div>
</div>

<div class="Shell__row section">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      Registry
    </div>
  </div>
</div>
