@import "~src/sass/variables";

.section {
  &--hero {
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background: url(/assets/images/main-hero.jpg) no-repeat center top;

    .Shell__column {
      color: $white;
      text-align: center;

      h2,
      h1,
      h3 {
        text-shadow: 0 1px 3px rgba(255,255,255, .25);
      }

      h2 {
        font-size: 82px;
        margin-top: 100px;
        margin-bottom: -10px;
      }

      h1 {
        margin: 0;
        font-size: 32px;
        text-transform: lowercase;
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        text-transform: lowercase;
      }
    }
  }

  &--navigation {
    background: $blue;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;

      a {
        color: $pink;
        display: flex;
        padding: 10px 15px;
        text-decoration: none;

        &:hover {
          background: #eee;
        }
      }
    }
  }
}

@media(max-width: 1170px) {
  .Shell {
    &__row {
      &-inner {
        width: 100%;
      }
    }
  }
}
