@import "./sass/variables";

.section {
  &--navigation {
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    background: $color-white;

    .Shell__column {
      display: flex;
    }

    .branding {
      flex: 1;
      display: flex;
      padding: 10px 0;

      h1,
      small {
        letter-spacing: .3rem;
        text-transform: uppercase;
      }

      h1 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      small {
        color: $color-grey-medium;
        font-size: .8rem;
        font-weight: 400;
        margin: 18px 10px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;

      a {
        color: $color-grey-medium;
        display: flex;
        cursor: pointer;
        font-size: .7rem;
        border-bottom: 0;
        padding: 30px 20px;
        text-decoration: none;
        letter-spacing: .3rem;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;

        &:hover {
          color: $color-grey-dark;
          border-bottom: 1px solid $color-grey-dark;
        }
      }
    }
  }

  &--hero {
    height: 500px;
    position: relative;
    background: url(/assets/images/country-couple.jpg) no-repeat center top;

    &.inside {
      height: 200px;
    }

    .Shell__column {
      color: $color-white;
      text-align: center;
      z-index: 2;

      h1,
      h2,
      h3 {
        font-weight: 100;
        letter-spacing: .4rem;
        text-transform: uppercase;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
      }

      h2 {
        color: $color-grey-light;
        margin-top: 60px;
        font-size: 1.6rem;
        margin-bottom: -10px;
      }

      h1 {
        margin: 0;
        color: $color-white;
        font-size: 5rem;
        font-weight: 400;
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        text-transform: lowercase;
      }
    }
  }
}
