<div class="Shell__row section--navigation">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <div class="branding animated slideInLeft">
        <h1>Grace + Tom</h1>
        <small>Saturday August 17th, 2019</small>
      </div>
      <ul class="animated slideInRight">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/rsvp">RSVP</a></li>
        <li><a routerLink="/music">Music</a></li>
        <li><a routerLink="/registry">Registry</a></li>
      </ul>
    </div>
  </div>
</div>

<div [ngClass]="['Shell__row section--hero', this.url !== '/' ? 'inside' : '']">
  <div class="overlay overlay__black"></div>
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <div class="animated fadeInDown">
        <h2>Still Can't Believe It, She Said Yes! We're Getting</h2>
        <h1>Married!</h1>
      </div>

      <app-countdown
        *ngIf="this.url === '/'"
        endDate="2020-06-27 06:0:00 PM"
      ></app-countdown>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="Shell__row section--footer">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h4>Footer</h4>
    </div>
  </div>
</div>
