<div class="Shell__row section--hero">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2>Thomas & Grace</h2>

      <h1>We're getting married!</h1>
      <h3>August 17th, 2019 in Detroit, MI</h3>

      <!-- <Countdown/> -->
    </div>
  </div>
</div>

<div class="Shell__row">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2>The Groom</h2>
      <h4>Thomas Kim Bird</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur blanditiis distinctio ducimus illum iste iusto neque obcaecati praesentium quasi, quidem quisquam quos velit. Amet architecto cupiditate hic obcaecati voluptatibus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur blanditiis distinctio ducimus illum iste iusto neque obcaecati praesentium quasi, quidem quisquam quos velit.</p>
    </div>
    <div class="Shell__column">
      <h2>The Bride</h2>
      <h4>Grace Mary Choi</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur blanditiis distinctio ducimus illum iste iusto neque obcaecati praesentium quasi, quidem quisquam quos velit. Amet architecto cupiditate hic obcaecati voluptatibus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur blanditiis distinctio ducimus illum iste iusto neque obcaecati praesentium quasi, quidem quisquam quos velit.</p>
    </div>
  </div>
</div>
