<div class="Shell__row section--hero">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h1>Thomas & Grace</h1>

      <h2>We're getting married!</h2>
      <h3>August 17th, 2019 in Detroit, MI</h3>
    </div>
  </div>
</div>

<div class="Shell__row section--navigation">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/rsvp">RSVP</a></li>
        <li><a routerLink="/music">Music</a></li>
        <li><a routerLink="/registry">Registry</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="Shell__row section--navigation">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h6>Footer</h6>
    </div>
  </div>
</div>
