.party {
  display: flex;
  padding: 10px;

  &--bridesmaid,
  &--groomsmen {
    flex: 0 0 50%;

    img {
      width: 50px;
      max-height: 50px;
      border-width: 5px;
      margin-right: 10px;
      border-color: #fff;
      border-style: solid;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    }
  }

  &--description {
    h3 {
      margin: 0 0 5px;
    }

    p {
      font-size: .8rem;
      margin: 0;
    }
  }

  &--bridesmaid {
    img {
    }
  }

  &--groomsmen {
    img {
    }
  }
}
