.Shell {
  &__row {
    &-inner {
      width: 1170px;
      display: flex;
      margin: 0 auto;
    }
  }

  &__column {
    flex: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

app-party {
  flex: 0 0 50%;
}

.form {
  &--rsvp {
    display: flex;
    flex-direction: column;

    input[type="email"] {
      padding: 10px 10px;
    }
  }
}

.overlay {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;

  &__black {
    background: rgba(0, 0, 0, .5);
  }
}

@media(max-width: 1170px) {
  .Shell {
    &__row {
      &-inner {
        width: 100%;
      }
    }
  }
}
