.Shell {
  &__row {
    &-inner {
      width: 1170px;
      display: flex;
      margin: 0 auto;
    }
  }

  &__column {
    flex: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

app-party {
  flex: 0 0 50%;
}

.form {
  &--rsvp {
    display: flex;
    flex-direction: column;

    input[type="email"] {
      padding: 10px 10px;
    }
  }
}

@media(max-width: 1170px) {
  .Shell {
    &__row {
      &-inner {
        width: 100%;
      }
    }
  }
}
