@import url("//fonts.googleapis.com/css?family=Open+Sans:100,300,400,600");

body {
  margin: 75px 0 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-weight: 300;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: .3rem;
  text-transform: uppercase;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}
