<div class="Shell__row section--rsvp">
  <div class="Shell__row-inner">
    <div class="Shell__column">
      <h2>Let us know your in!</h2>
      <p>We're so excited to share our experience with you, do us a favor and let us know if you will be attending by using your email and letting us know if you will have a plus one! Thanks!</p>

      <form class="form--rsvp">
        <input type="email" name="email" />
        <input type="checkbox" name="plusOne" />
        <button type="button">RSVP!</button>
      </form>
    </div>
  </div>
</div>
